@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

//100	Thin (Hairline)	font-weight: thin;
//200	Extra Light (Ultra Light)	font-weight: extra-light;
//300	Light	font-weight: light;
//400	Normal (Regular)	font-weight: normal;
//500	Medium	font-weight: medium;
//600	Semi Bold (Demi Bold)	font-weight: semi-bold;
//700	Bold	font-weight: bold;
//800	Extra Bold (Ultra Bold)	font-weight: extra-bold;
//900	Black (Heavy)	font-weight: black;
