@use 'variables';
@use 'fonts';
@use 'media';
@use 'mixins';

body {
  background-color: var(--white);
  font-family: var(--font-main);
  scroll-behavior: smooth;
}

a {
  color: inherit;
  transition: 0.2s ease-in-out;

  @include media.hover {
    color: var(--orange);
  }

  svg {
    transition: 0.2s ease-in-out;
    @include media.hover {
      filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.7));
    }
  }
}

h1 {
  @include mixins.fluid-text(67, 48);
  font-weight: 600;
  line-height: 120%;
  margin-top: 15px;
  margin-bottom: 5vh;
}

h2 {
  @include mixins.fluid-text(50, 31);
  line-height: 120%;
  font-weight: 600;
}

h3 {
  @include mixins.fluid-text(32, 16);
  font-weight: 600;
  line-height: 120%;
}