@use 'variables';
@use 'fonts';
@use 'media';
@use 'mixins';

body {
  background-color: var(--white);
  font-family: var(--font-main);
}

a {
  color: inherit;
  transition: 0.2s ease-in-out;

  @include media.hover {
    color: var(--orange);
  }
}

h1 {
  @include mixins.fluid-text(67,48);
  font-weight: 600;
  line-height: 120%;
  margin-top: 15px;
  margin-bottom: 5vh;
}