@use 'variables';
@use 'fonts';

body {
  background-color: var(--white);
  font-family: var(--font-main);
}

a {
  color: inherit;
  transition: 0.2s ease-in-out;

  &:hover {
    color: var(--orange);
  }
}

h1 {
  font-size: 67px;
  font-weight: 600;
  line-height: 120%;
  margin-top: 15px;
  margin-bottom: 24px;
}