@use 'variables';
@use 'media';

.container {
  max-width: var(--container-width);
  width: 95vw;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin border{
  border-style: solid;
  border-color: red;
}

.hidden-mobile {
  @include media.respond-down('laptop') {
    display: none !important;
  }
}
