@use 'variables';
@use 'media';

@mixin border{
  border-style: solid;
  border-color: red;
}

.container {
  max-width: var(--container-width);
  width: 95vw;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.non-visible {
  opacity: 0;
  visibility: hidden;
}

.modal-open {
  overflow: hidden;
}



.hidden-mobile {
  @include media.respond-down('laptop') {
    display: none !important;
  }
  @include  media.respond-down('mobile') {
    display: none !important;
  }
}

.mobile-visible {
  @include media.respond-down('laptop') {
    display: flex !important;
  }
  @include  media.respond-down('mobile') {
    display: flex !important;
  }
}

.active {
  filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.7));
}
