$gradient: linear-gradient(to right, var(--primary), var(--secondary));

:root {
  --primary: #c1dee8;
  --secondary: #fbd9b9;
  --black: #000;
  --text-heading-color: #1f1f1f;
  --gray-color: #bebebe;
  --gray-2: #fafafa;
  --white: #fefeff;
  --orange: #ff791a;
  --green: #58bf52;
  --purple: #3741b5;

  --border-radius-card: 15px;
  --border-radius-button: 40px;
  --border-radius-header: 70px;

  --font-main: "Poppins", sans-serif;

  --container-width: 1380px;
  --button-height: 60px;
  --input-height: 60px;

  --transition-duration: 0.2s;
}

$breakpoints: (
  'mobile': 500px,
  'laptop': 1024px,
);
