@charset "UTF-8";
/*
em - от текущего шоифта
% - от родительской ширины
rem - от стиля html
vw – 1% ширины окна
vh – 1% высоты окна
vmin – наименьшее из (vw, vh), в IE9 обозначается vm
vmax – наибольшее из (vw, vh)
*/
/* Reset and base styles  */
* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --primary: #c1dee8;
  --secondary: #fbd9b9;
  --black: #000;
  --text-heading-color: #1f1f1f;
  --gray-color: #bebebe;
  --gray-2: #fafafa;
  --white: #fefeff;
  --orange: #ff791a;
  --green: #58bf52;
  --purple: #3741b5;
  --border-radius-card: 15px;
  --border-radius-button: 40px;
  --border-radius-header: 70px;
  --font-main: "Poppins", sans-serif;
  --container-width: 1380px;
  --button-height: 60px;
  --input-height: 60px;
  --transition-duration: 0.2s;
}

.container {
  max-width: var(--container-width);
  width: 95vw;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (max-width: 1024px) {
  .hidden-mobile {
    display: none !important;
  }
}

body {
  background-color: var(--white);
  font-family: var(--font-main);
}

a {
  color: inherit;
  transition: 0.2s ease-in-out;
}
@media (hover: hover) {
  a:hover {
    color: var(--orange);
  }
}
@media (hover: none) {
  a:active {
    color: var(--orange);
  }
}

h1 {
  font-size: clamp(48px, 4.7857142857vw, 67px);
  font-weight: 600;
  line-height: 120%;
  margin-top: 15px;
  margin-bottom: 5vh;
}

.header {
  height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 34px;
  padding-left: 40px;
  padding-right: 24px;
  justify-content: space-between;
  background-color: var(--gray-2);
  border-radius: var(--border-radius-header);
}
.header__menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.header__menu-list {
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3vw;
  background-color: var(--white);
  padding-inline: 22px;
  border-radius: var(--border-radius-button);
}
.header__button {
  height: var(--button-height);
  border-radius: var(--border-radius-button);
  background-color: var(--white);
  padding-inline: 35px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--gray-color);
  font-size: 1rem;
  font-weight: normal;
  text-wrap: nowrap;
  transition: 0.2s ease-in-out;
}
@media (hover: hover) {
  .header__button:hover {
    border-style: solid;
    border-color: var(--orange);
    color: var(--orange);
  }
}
@media (hover: none) {
  .header__button:active {
    border-style: solid;
    border-color: var(--orange);
    color: var(--orange);
  }
}

.home {
  height: clamp(430px, 100vh - 156px, 550px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 32px;
  border-radius: var(--border-radius-card);
  background: linear-gradient(to right, var(--primary), var(--secondary));
}
.home__info {
  padding-left: 46px;
  padding-top: 90px;
  width: 50%;
}
.home__mail {
  margin-top: 5vh;
}
.home__image {
  position: relative;
  top: 50px;
  height: auto;
  width: 50%;
  overflow: hidden;
}

.mail {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 440px;
  height: 60px;
  background: var(--white);
  border-radius: var(--border-radius-button);
  padding-left: 24px;
}
.mail__input {
  flex-grow: 1;
  padding-right: 1rem;
}
.mail__button {
  background-color: var(--black);
  color: var(--white);
  border-width: 1px;
  border-style: solid;
  height: 100%;
  width: 150px;
  border-radius: var(--border-radius-button);
  transition: 0.2s ease-in-out;
}
@media (hover: hover) {
  .mail__button:hover {
    color: var(--orange);
    border-color: var(--orange);
  }
}
@media (hover: none) {
  .mail__button:active {
    color: var(--orange);
    border-color: var(--orange);
  }
}

/*# sourceMappingURL=styles.css.map */
