@use "normalize";
@use "fonts";
@use "media";
@use "mixins";
@use "utils";
@use "variables";
@use "globals";

.header {
  height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 34px;
  padding-left: 40px;
  padding-right: 24px;
  justify-content: space-between;
  background-color: var(--gray-2);
  border-radius: var(--border-radius-header);

  &__menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  &__menu-list {
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35px;
    background-color: var(--white);
    padding-inline: 22px;
    border-radius: var(--border-radius-button);
  }

  &__button {
    height: var(--button-height);
    border-radius: var(--border-radius-button);
    background-color: var(--white);
    padding-inline: 35px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--gray-color);
    font-size: 1rem;
    font-weight: normal;
    text-wrap: nowrap;
    transition: 0.2s ease-in-out;

    &:hover {
      border-style: solid;
      border-color: var(--orange);
      color: var(--orange);
    }
  }
}
