@charset "UTF-8";
/*
em - от текущего шоифта
% - от родительской ширины
rem - от стиля html
vw – 1% ширины окна
vh – 1% высоты окна
vmin – наименьшее из (vw, vh), в IE9 обозначается vm
vmax – наибольшее из (vw, vh)
*/
/* Reset and base styles  */
* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --primary: #c1dee8;
  --secondary: #fbd9b9;
  --black: #000;
  --text-heading-color: #1f1f1f;
  --gray-color: #bebebe;
  --gray-2: #fafafa;
  --white: #fefeff;
  --orange: #ff791a;
  --green: #58bf52;
  --purple: #3741b5;
  --border-radius-card: 15px;
  --border-radius-button: 40px;
  --border-radius-header: 70px;
  --font-main: "Poppins", sans-serif;
  --container-width: 1380px;
  --button-height: 60px;
  --input-height: 60px;
  --transition-duration: 0.2s;
  --breakpoint-mobile: 550px;
  --breakpoint-laptop: 1024px;
}

.container {
  max-width: var(--container-width);
  width: 95vw;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.non-visible {
  opacity: 0;
  visibility: hidden;
}

.modal-open {
  overflow: hidden;
}

@media (max-width: 1024px) {
  .hidden-mobile {
    display: none !important;
  }
}
@media (max-width: 550px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (max-width: 1024px) {
  .mobile-visible {
    display: flex !important;
  }
}
@media (max-width: 550px) {
  .mobile-visible {
    display: flex !important;
  }
}

.active {
  filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.7));
}

body {
  background-color: var(--white);
  font-family: var(--font-main);
}

a {
  color: inherit;
  transition: 0.2s ease-in-out;
}
@media (hover: hover) {
  a:hover {
    color: var(--orange);
  }
}
@media (hover: none) {
  a:active {
    color: var(--orange);
  }
}
a svg {
  transition: 0.2s ease-in-out;
}
@media (hover: hover) {
  a svg:hover {
    filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.7));
  }
}
@media (hover: none) {
  a svg:active {
    filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.7));
  }
}

h1 {
  font-size: clamp(48px, 4.7857142857vw, 67px);
  font-weight: 600;
  line-height: 120%;
  margin-top: 15px;
  margin-bottom: 5vh;
}

h2 {
  font-size: clamp(31px, 3.5714285714vw, 50px);
  line-height: 120%;
  font-weight: 600;
}

h3 {
  font-size: clamp(16px, 2.2857142857vw, 32px);
  font-weight: 600;
  line-height: 120%;
}

.header {
  transition: opacity 0.5s ease-in-out;
  height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 34px;
  padding-left: 40px;
  padding-right: 24px;
  justify-content: space-between;
  background-color: var(--gray-2);
  border-radius: var(--border-radius-header);
  position: sticky;
  top: 0;
  z-index: 101;
}
@media (max-width: 550px) {
  .header {
    margin-top: 5px;
    height: fit-content;
  }
}
@media (max-width: 1024px) {
  .header {
    margin-top: 5px;
    height: fit-content;
  }
}
.header__menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.header__menu-list {
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3vw;
  background-color: var(--white);
  padding-inline: 22px;
  border-radius: var(--border-radius-button);
}
.header__button {
  height: var(--button-height);
  border-radius: var(--border-radius-button);
  background-color: var(--white);
  padding-inline: 35px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--gray-color);
  font-size: 1rem;
  font-weight: normal;
  text-wrap: nowrap;
  transition: 0.2s ease-in-out;
}
@media (hover: hover) {
  .header__button:hover {
    border-style: solid;
    border-color: var(--orange);
    color: var(--orange);
  }
}
@media (hover: none) {
  .header__button:active {
    border-style: solid;
    border-color: var(--orange);
    color: var(--orange);
  }
}

.home {
  height: clamp(480px, 100vh - 156px, 550px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 32px;
  padding-bottom: 3rem;
  border-radius: var(--border-radius-card);
  background: linear-gradient(to right, var(--primary), var(--secondary));
}
@media (max-width: 1024px) {
  .home {
    height: fit-content;
    margin-top: 5px;
  }
}
@media (max-width: 550px) {
  .home {
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 97px);
    min-height: fit-content;
    padding: 0;
  }
}
.home__info {
  padding-left: 46px;
  padding-top: 90px;
  width: 50%;
}
@media (max-width: 1024px) {
  .home__info {
    width: 90%;
  }
}
@media (max-width: 550px) {
  .home__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-top: 50px;
    padding-inline: 10px;
    margin-inline: auto;
    line-height: 3em;
  }
}
.home__mail {
  margin-top: 5vh;
}
.home__image {
  position: relative;
  align-self: center;
  width: 45%;
  top: 50px;
}
@media (max-width: 1024px) {
  .home__image {
    display: none;
  }
}
@media (max-width: 550px) {
  .home__image {
    display: flex;
    width: 90%;
    align-self: end;
    top: 30px;
  }
}

.mail {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 440px;
  height: 60px;
  background: var(--white);
  border-radius: var(--border-radius-button);
  padding-left: 24px;
}
@media (max-width: 550px) {
  .mail {
    width: 100%;
  }
}
.mail__input {
  flex-grow: 1;
  padding-right: 1rem;
}
.mail__button {
  background-color: var(--black);
  color: var(--white);
  border-width: 1px;
  border-style: solid;
  height: 100%;
  width: 150px;
  border-radius: var(--border-radius-button);
  transition: 0.2s ease-in-out;
}
@media (hover: hover) {
  .mail__button:hover {
    color: var(--orange);
    border-color: var(--orange);
  }
}
@media (hover: none) {
  .mail__button:active {
    color: var(--orange);
    border-color: var(--orange);
  }
}

.burger-button {
  display: none;
  position: relative;
  z-index: 100;
  justify-content: center;
  align-items: center;
  width: var(--button-height);
  aspect-ratio: 1;
}
.burger-button::after {
  content: "";
  width: 60%;
  height: 3px;
  background-color: var(--black);
  box-shadow: 0 10px, 0 -10px;
  border-radius: 2px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
@media (hover: hover) {
  .burger-button:hover::after {
    background-color: var(--orange);
    color: var(--orange);
  }
}
@media (hover: none) {
  .burger-button:active::after {
    background-color: var(--orange);
    color: var(--orange);
  }
}

.burger-button-close {
  display: none;
  position: relative;
  z-index: 100;
  justify-content: center;
  align-items: center;
  width: var(--button-height);
  aspect-ratio: 1;
}
@media (hover: hover) {
  .burger-button-close:hover::after {
    background-color: var(--orange);
    color: var(--orange);
  }
  .burger-button-close:hover::before {
    background-color: var(--orange);
    color: var(--orange);
  }
}
@media (hover: none) {
  .burger-button-close:active::after {
    background-color: var(--orange);
    color: var(--orange);
  }
  .burger-button-close:active::before {
    background-color: var(--orange);
    color: var(--orange);
  }
}
.burger-button-close::after {
  position: absolute;
  content: "";
  width: 60%;
  height: 3px;
  background-color: var(--black);
  border-radius: 2px;
  transform: rotate(45grad);
  transition: background-color 0.2s ease-in-out;
}
.burger-button-close::before {
  position: absolute;
  content: "";
  width: 60%;
  height: 3px;
  background-color: var(--black);
  border-radius: 2px;
  transform: rotate(-45grad);
  transition: background-color 0.2s ease-in-out;
}
@media (hover: hover) {
  .burger-button-close:hover::after {
    background-color: var(--orange);
    color: var(--orange);
  }
  .burger-button-close:hover::before {
    background-color: var(--orange);
    color: var(--orange);
  }
}
@media (hover: none) {
  .burger-button-close:active::after {
    background-color: var(--orange);
    color: var(--orange);
  }
  .burger-button-close:active::before {
    background-color: var(--orange);
    color: var(--orange);
  }
}

.mobile-menu {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  background-color: var(--gray-2);
  opacity: 0.988;
  width: 100vw;
  min-height: fit-content;
  height: 100vh;
  flex-direction: column;
  padding-top: 60px;
  overflow: hidden;
}
.mobile-menu__link {
  font-size: 2em;
  display: block;
  padding-inline: 1em;
  width: 100%;
  line-height: 2;
  font-weight: 500;
  opacity: 0.7;
}
@media (hover: hover) {
  .mobile-menu__link:hover {
    opacity: 1;
  }
}
@media (hover: none) {
  .mobile-menu__link:active {
    opacity: 1;
  }
}
.mobile-menu__button {
  margin: 2em;
}

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register__paragraph {
  margin-top: 60px;
}
.register__title {
  margin-top: 16px;
  text-align: center;
}
.register__steps {
  display: flex;
  margin-top: 45px;
  gap: 2rem;
}
@media (max-width: 1024px) {
  .register__steps {
    flex-direction: column;
  }
}

.step-item:hover .step-item__image {
  filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.7));
}
.step-item__image {
  width: 75px;
  height: 75px;
}
@media (max-width: 1024px) {
  .step-item__image {
    grid-area: icon;
  }
}
@media (hover: hover) {
  .step-item__link:hover {
    color: inherit;
  }
}
@media (hover: none) {
  .step-item__link:active {
    color: inherit;
  }
}
.step-item__title {
  margin-top: 22px;
  margin-bottom: 22px;
}
@media (max-width: 1024px) {
  .step-item__title {
    margin-top: 0;
    margin-bottom: 0;
    grid-area: title;
    align-self: end;
  }
}
.step-item__paragraph {
  grid-area: paragraph;
  align-self: normal;
}
@media (max-width: 1024px) {
  .step-item {
    display: grid;
    column-gap: 2rem;
    row-gap: 0;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "icon title" "icon paragraph";
  }
}

.portfolio {
  padding-top: 130px;
}
.portfolio__paragraph {
  padding-top: 16px;
}
.portfolio__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.portfolio__navigation {
  display: flex;
  gap: 10px;
}
.portfolio__projects {
  margin-top: 20px;
  display: flex;
  margin-inline: auto;
  padding-bottom: 10px;
  padding-inline: 3px;
}

.projects {
  display: flex;
  padding-top: 1rem;
}
.projects__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: var(--border-radius-card);
  box-shadow: var(--gray-color) 0 1px 2px;
  transition: 0.2s ease-in-out;
}
.projects__item:hover {
  transform: scale(1.01);
  box-shadow: var(--gray-color) 0 4px 4px;
}

.item__image {
  border-radius: 13px;
}

.item__rating {
  display: flex;
  gap: 5px;
  padding-left: 15px;
  margin-bottom: 15px;
}

.item__header {
  font-size: clamp(18px, 1.7142857143vw, 24px);
  font-weight: 600;
  margin-top: 24px;
  margin-bottom: 17px;
  padding-left: 15px;
}

.item__paragraph {
  font-size: clamp(14px, 1.2857142857vw, 18px);
  font-weight: 400;
  padding-left: 15px;
  margin-bottom: 17px;
}

.rating__star {
  width: 20px;
  height: 20px;
  background-color: rgba(255, 234, 0, 0.83);
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
.rating__star--not {
  width: 20px;
  height: 20px;
  background-color: rgba(128, 128, 128, 0.15);
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.swiper {
  width: 100%;
}

.about {
  padding-bottom: 3rem;
}
.about__title {
  margin: 100px auto 45px;
  max-width: 70%;
  text-align: center;
}
.about__block {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 550px) {
  .about__block {
    flex-direction: column-reverse;
  }
}
.about__info {
  width: 50%;
}
@media (max-width: 550px) {
  .about__info {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .about__info {
    width: 100%;
  }
}
.about__info-title {
  font-size: clamp(40px, 2.5714285714vw, 36px);
  font-weight: 600;
  padding-left: 1rem;
  margin-bottom: 2rem;
}
@media (max-width: 550px) {
  .about__info-title {
    padding-left: 0;
    text-align: center;
  }
}
@media (max-width: 1024px) {
  .about__info-title {
    padding-left: 0;
    text-align: center;
  }
}
.about__info-paragraph {
  padding-left: 1rem;
  width: 80%;
}
@media (max-width: 550px) {
  .about__info-paragraph {
    width: 100%;
    padding-left: 0;
    text-align: center;
  }
}
@media (max-width: 1024px) {
  .about__info-paragraph {
    width: 100%;
    padding-left: 0;
    text-align: center;
  }
}
.about__statistic {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 2rem;
}
@media (max-width: 550px) {
  .about__statistic {
    width: 100%;
    justify-content: space-around;
  }
}
@media (max-width: 1024px) {
  .about__statistic {
    width: 100%;
    justify-content: space-around;
  }
}
.about .statistic__element {
  text-align: center;
}
.about__control {
  margin-top: 45px;
  display: flex;
  gap: 1rem;
  padding-left: 1rem;
}
@media (max-width: 550px) {
  .about__control {
    padding-left: 0;
    justify-content: center;
  }
}
@media (max-width: 1024px) {
  .about__control {
    padding-left: 0;
    justify-content: center;
  }
}
.about__button {
  background-color: var(--black);
  color: var(--white);
  border-width: 1px;
  border-style: solid;
  height: 60px;
  width: 150px;
  border-radius: var(--border-radius-button);
  transition: 0.2s ease-in-out;
}
@media (hover: hover) {
  .about__button:hover {
    color: var(--orange);
    border-color: var(--orange);
  }
}
@media (hover: none) {
  .about__button:active {
    color: var(--orange);
    border-color: var(--orange);
  }
}
.about__button-invert {
  background-color: var(--white);
  color: var(--black);
  border-width: 1px;
  border-style: solid;
  border-color: var(--black);
  height: 60px;
  width: 150px;
  border-radius: var(--border-radius-button);
  transition: 0.2s ease-in-out;
}
@media (hover: hover) {
  .about__button-invert:hover {
    color: var(--orange);
    border-color: var(--orange);
  }
}
@media (hover: none) {
  .about__button-invert:active {
    color: var(--orange);
    border-color: var(--orange);
  }
}
@media (max-width: 1024px) {
  .about__image {
    display: none;
  }
}
@media (max-width: 550px) {
  .about__image {
    display: block;
  }
}

/*# sourceMappingURL=styles.css.map */
